<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Titan Mobile Automation">

    <test name="Regression Tests">

        <classes>
            <class name="com.titan.eyestage.LoginTest"/>
            <class name="Testcases.TrackOrderTest"/>
              <class name="Testcases.PurchaseJourneyTesting"/>
              <class name="com.titan.eyestage.HomePageVerification"/>
        </classes>

    </test>

</suite>